{{define "title"}}Contacts{{end}}

{{define "main"}}
	<div class="mx-auto w-100" style="max-width: 30rem; margin-top: 1rem; margin-bottom: 1rem">
		<div class="row g-2">
			<div class="col">
				<input class="form-control" type="text" name="q" placeholder="Search" value="{{.Search}}">
			</div>
			<div class="col-auto">
				<button class="btn btn-icon" aria-label="Button">

					<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none" />
						<circle cx="10" cy="10" r="7" />
						<line x1="21" y1="21" x2="15" y2="15" />
					</svg>
				</button>
			</div>
			<div class="col-auto">
				<a href="/contacts/new" class="btn btn-primary">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M12 5l0 14"></path>
						<path d="M5 12l14 0"></path>
					</svg>
					Add Contact
				</a>
			</div>
		</div>
	</div>
	<div class="mx-auto w-100 table" style="max-width: 50rem">
		<table class="table">
			<thead>
			<tr>
				<th>First</th>
				<th>Last</th>
				<th>Phone</th>
				<th>Email</th>
				<th></th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			{{range .Contacts}}
				<tr>
					<td>{{.FirstName}}</td>
					<td>{{.LastName}}</td>
					<td>{{.Phone}}</td>
					<td>{{.Email}}</td>
					<td>
						<a href="/contacts/edit?id={{.ID}}">Edit</a>
						<a href="/contacts?id={{.ID}}">View</a>
					</td>
				</tr>
			{{end}}
		</table>
	</div>
{{end}}
