{{define "title"}}Edit Contact{{end}}

{{define "main"}}
    <form action="/contacts/edit?id={{ .Contact.ID }}" method="post">
        <fieldset>
            <legend>Contact Values</legend>
              <p>
                  <label for="email">Email</label>
                  <input name="email" id="email" type="text" placeholder="Email" value="{{or .Contact.Email ""}}">
                  <span class="error">{{ .Errors.email }}</span>
              </p>
		    	<p>
                  <label for="first_name">First Name</label>
                  <input name="first_name" id="first_name" type="text" placeholder="First Name"
                         value="{{ .Contact.FirstName }}">
                  <span class="error">{{ .Errors.first_name }}</span>
              </p>
              <p>
                  <label for="last_name">Last Name</label>
                  <input name="last_name" id="last_name" type="text" placeholder="Last Name"
                         value="{{ .Contact.LastName }}">
                  <span class="error">{{ .Errors.last_name }}</span>
              </p>
              <p>
                  <label for="phone">Phone</label>
                  <input name="phone" id="phone" type="text" placeholder="Phone" value="{{ .Contact.Phone }}">
                  <span class="error">{{ .Errors.phone }}</span>
              </p>
            <button>Save</button>
        </fieldset>
    </form>
    <form action="/contacts/delete?id={{.Contact.ID}}" method="post">
        <button>Delete Contact</button>
    </form>

    <p>
        <a href="/contacts">Back</a>
    </p>

{{end}}
