{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{template "title" .}}</title>
</head>
<body hx-boost="true">
	{{with .Flash}}
		<div class="flash">{{.}}</div>
	{{end}}
	{{template "main" .}}

	<script src="https://unpkg.com/htmx.org@1.9.6"></script>
</bodyh>
</html>
{{end}}
